beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.13.4
greenlet==3.0.3
idna==3.6
pipenv==2023.12.1
platformdirs==4.2.0
playwright==1.43.0
pyee==11.1.0
python-dotenv==1.0.1
requests==2.31.0
soupsieve==2.5
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.25.1
